body, select, input[type="text"] {
	font-family: cursive;
}

input[type="text"], select, label {
	font-size: 20px;
}

input[readonly] {
	background-color: rgb(117, 167, 255);
	font-style:oblique;
}

input[type="text"] {
	text-align: right;
}
body {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
